<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>¿Quienes Somos? | CSHL</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/sl-slide.css">

    <script src="/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/public/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/public/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/public/images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>

    <!--Header-->
    <header class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a id="logo" class="pull-left" href="/index.html"></a>
                <div class="nav-collapse collapse pull-right">
                    <ul class="nav">
                        <li><a href="/index.html">Inicio</a></li>
                        <li class="active"><a href="/views/about-us.html">¿Quienes Somos?</a></li>
                        <li><a href="/views/projects.html">Proyectos</a></li>
                        <li><a href="/views/contact-us.html">Contacto</a></li>
                    </ul>        
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </header>
    <!-- /header -->

    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>¿Quienes Somos?</h1>
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="/index.html">Inicio</a> <span class="divider">/</span></li>
                        <li class="active">¿Quienes Somos?</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->   

    <section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span6">
                <h2>¿Quienes somos?</h2>
                <p>Somos un grupo de estudiantes amantes de la tecnologia, desarrollamos proyectos en el área de programación, diseño gráfico, móviles, scripting, IPv6, entre otros. Todo con el objetivo de compartir el conocimiento y enseñar a los demas nuestra ideología que está basada en el Software Libre.</p>
            </div>
            <div class="span6">
            <p align="center"><img src="/public/images/sample/csl01.jpg" alt="" width="450"></p>
            </div>
        </div>
        <hr>
        <div class="row-fluid">
            <div class="span6">
                <h3>¿Cómo nace la Comunidad de usuarios de Software y Hardware Libre?</h3>
                <p>Años atras en la Universidad de El Salvador FMOcc existió la Comunidad de usuarios de Software Libre y siempre fue coordinada por alumnos (usualmente de los últimos años) de la carrera Ingeniería de Sistemas Informáticos, y a causa de esto siempre desaparecía temporalmente por cuestiones de egresos, entre otros. Hasta que en el año 2012, fue reactivada con una nueva visión, el de integrar a personas de primeros años para que el lapso de existencia de la comunidad fuera más duradero.</p> 

                <p>Ésta idea fue llevada a cabo por Gualberto Escalante y Rodrigo Ortíz (como presidente y vicepresidente respectivamente), luego en el 2013 siguieron la misma idea Henry Renderos y Alcides Rodríguez, y, actualmente tienen esa responsabilidad Eduardo Valencia y Erick Arévalo, ademas se optó por impulsar el uso de hardware libre; por el momento la comunidad cuenta con 15 miembros activos quienes cubren distintas áreas de la informatica como electrónica, programación, diseño grafico y web, ellos han prometido compartir su conocimiento sin fines de lucro, solo con el objetivo de enseñar lo que saben y tambien lo hacen "solo por diversión", como un hobbie, porque el software libre es divertido.</p>
            </div>
            <div class="span6">
                <!-- <h3>Algo</h3> -->
                <div class="accordion" id="accordion2">
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                          Misión
                      </a>
                  </div>
                  <div id="collapseOne" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <p>Fomentar, contribuir e impulsar el desarrollo y uso de tecnologías libres, mediante el apoyo e interacción con la sociedad universitaria, instituciones públicas y privadas y sociedad en general, en la tarea común de fortalecer sus conocimientos y desarrollo integral para que satisfagan sus necesidades tecnológicas y conviertan el software libre en una alternativa ventajosa.</p>
                  </div>
              </div>
          </div>
          <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Visión
              </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <p> Ser un grupo líder que impulse el desarrollo tecnológico y lo innove mediante el uso de tecnologías libres.</p>
          </div>
      </div>
  </div>
  <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          Objetivos
      </a>
  </div>
  <div id="collapseThree" class="accordion-body collapse">
    <div class="accordion-inner">
      <ul>
          <li>Promover el uso de tecnologías libres.</li>
          <li>Compartir el conocimiento y a la vez contribuir al Software Libre</li>
          <li>Difundir y promover el concepto de Software Libre, tal como es definido por la <a href="http://www.gnu.org/philosophy/free-sw.es.html">FSF</a>.</li>
      </ul>
  </div>
</div>
</div>
</div>
</div>
</div>
</section>

<!--Bottom-->
<section id="bottom" class="main">
    <!--Container-->
    <div class="container">

        <!--row-fluids-->
        <div class="row-fluid">
            <!--Youtube Channel-->
            <div id="youtube" class="span3">
                <h4>Youtube</h4>
                <div>
                    <iframe id="fr" src="http://www.youtube.com/subscribe_widget?p=csluesocc" style="overflow: hidden; height: 105px; width: 210px; border: 0;" scrolling="no" frameBorder="0"></iframe>
                </div>
            </div>
            <!--End Youtube Channel-->

            <!-- Twitter Box -->
            <div id="tweets" class="span3">
                <h4>Twitter</h4>
                <div>
                    <a class="twitter-timeline" href="https://twitter.com/CSLUESOcc" data-widget-id="473174976510455809">Tweets por @CSLUESOcc</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <!-- End Twitter Box -->

            <!-- FB Like Box -->
            <div id="fanpage" class="span3">
                <h4>Facebook</h4>
                <div>
                    <iframe src="https://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fcshluesocc&amp;width=285&amp;height=243&amp;colorscheme=dark&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:285px; height:243px;" allowTransparency="true"></iframe>
                </div>
            </div>
            <!-- End FB Like Box -->
            
    </div>
    <!--/row-fluid-->
</div>
<!--/container-->

</section>
<!--/bottom-->

<!--Footer-->
<footer id="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span5 cp">
                &copy; <script>document.write(new Date().getFullYear());</script> - Comunidad de Usuarios de Software y Hardware Libre </br>
                Template by <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">ShapeBootstrap</a>. Mezzanine theme by <a target="_blank" href="http://thecodinghouse.in/" title="Free Mezzanine CMS theme">CodingHouse</a>
            </div>
            <!--/Copyright-->

            <div class="span6">
                <ul class="social pull-right">
                    <li><a href="https://www.facebook.com/cshluesocc"><i class="icon-facebook"></i></a></li>
                    <li><a href="https://www.twitter.com/csluesocc"><i class="icon-twitter"></i></a></li>
                    <li><a href="https://plus.google.com/communities/103534834548089371222"><i class="icon-google-plus"></i></a></li>                       
                    <li><a href="https://www.youtube.com/user/csluesocc"><i class="icon-youtube"></i></a></li>
                    <!-- <li><a href="#"><i class="icon-rss"></i></a></li> -->
                    <li><a href="https://github.com/csluesocc"><i class="icon-github-alt"></i></a></li>                
                </ul>
            </div>

            <div class="span1">
                <a id="gototop" class="gototop pull-right" href="#"><i class="icon-angle-up"></i></a>
            </div>
            <!--/Goto Top-->
        </div>
    </div>
</footer>
<!--/Footer-->

<script src="/public/js/vendor/jquery-1.9.1.min.js"></script>
<script src="/public/js/vendor/bootstrap.min.js"></script>
<script src="/public/js/main.js"></script>
</body>
</html>
